<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'bootstrap-3.3.5-dist/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src={% static "exercise2/test.js" %} ></script>
    <link href="{%   static 'exercise2/test.css'%}" rel="stylesheet" media="screen">
    <title></title>
</head>

<body>


<form name="myform" >
    Country:<input type="text" id="country_input" name="country_input" list="country">
    <datalist id="country">
    </datalist>
    City:<input type="text" name="city_input" list="city">
    <datalist id="city">
    </datalist>
</form>


</body>


